
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading panel-desc">
            <table class="table table-extrato">
                <thead>
                    <tr>
                        <td class="text-left">Descrição</td>
                        <td class="text-right">1</td>
                        <td class="text-right">2</td>
                        <td class="text-right">3</td>
                        <td class="text-right">4</td>
                        <td></td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <a data-toggle="collapse" href="#combinedOne" class="collapse in">
                    <table class="table table-extrato">
                        <thead>
                            <tr>
                                <td class="text-left">Investimento</td>
                                <td class="text-right">R$ 100,00</td>
                                <td class="text-right">R$ 200,00</td>
                                <td class="text-right">R$ 50,00</td>
                                <td class="text-right">R$ 200,00</td>
                                <td class="text-right">
                                    <i class="fa fa-angle-down right icon-collapsed"></i>
                                    <i class="fa fa-angle-up right icon-expanded"></i>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </a>
            </div>
        </div>
        <div id="combinedOne" class="panel-collapse collapse in">
            <table class="table table-extrato">
                <tbody>
                    <tr>
                        <td class="text-left">Compra Licenças</td>
                        <td class="text-right">R$ 50,00</td>
                        <td class="text-right">R$ 100,00</td>
                        <td class="text-right">R$ 25,00</td>
                        <td class="text-right">R$ 100,00</td>
                        <td class="text-right"></td>
                    </tr>
                    <tr>
                        <td class="text-left">Compra Laptop</td>
                        <td class="text-right">R$ 50,00</td>
                        <td class="text-right">R$ 100,00</td>
                        <td class="text-right">R$ 25,00</td>
                        <td class="text-right">R$ 100,00</td>
                        <td class="text-right"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <div class="panel-title">
                <a data-toggle="collapse" href="#combinedTwo" class="collapsed">
                    <table class="table table-extrato">
                        <thead>
                            <tr>
                                <td class="text-left">Custeio</td>
                                <td class="text-right">R$ 125,00</td>
                                <td class="text-right">R$ 50,00</td>
                                <td class="text-right">R$ 25,00</td>
                                <td class="text-right">R$ 300,00</td>
                                <td class="text-right">
                                    <i class="fa fa-angle-down right icon-collapsed"></i>
                                    <i class="fa fa-angle-up right icon-expanded"></i>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </a>
            </div>
        </div>
        <div id="combinedTwo" class="panel-collapse collapse">
            <table class="table table-extrato">
                <tbody>
                    <tr>
                        <td class="text-left">Combustível, Pedágio</td>
                        <td class="text-right">R$ 50,00</td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right">R$ 100,00</td>
                        <td class="text-right"></td>
                    </tr>
                    <tr>
                        <td class="text-left">Diárias</td>
                        <td class="text-right">R$ 25,00</td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right">R$ 100,00</td>
                        <td class="text-right"></td>
                    </tr>
                    <tr>
                        <td class="text-left">Custo Laboratorio</td>
                        <td class="text-right">R$ 25,00</td>
                        <td class="text-right">R$ 50,00</td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>

                    </tr>
                    <tr>
                        <td class="text-left">Diversos</td>
                        <td class="text-right">R$ 25,00</td>
                        <td class="text-right"></td>
                        <td class="text-right">R$ 25,00</td>
                        <td class="text-right">R$ 100,00</td>
                        <td class="text-right"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr />

    <div class="panel-content">
        <h3 class="heading">
            <i class="fa fa-square"></i>
            Extrato (Últimos Lançamentos)
        </h3>
        <div class="row">
            <div class="panel-content">
                <div class="row">
                    <div class="col-md-3 col-xs-offset-9">
                        <div class="form-group">
                            <label>Saldo</label>
                            <input class="form-control col-md-2 disabled" name="saldoInicial" type="text" value="1000,00">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Num. Doc.</th>
                        <th>Hist. Padrão</th>
                        <th>Débito</th>
                        <th>Crédito</th>
                        <th>Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>13/04/2018</td>
                        <td>100,00</td>
                        <td>pag. nota fiscal</td>
                        <td></td>
                        <td>1000,00</td>
                        <td>1000,00</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="panel-content">                
                    <a class="btn btn-default pull-right" href="@Url.Action("Index","Extrato")">
                        <i class="fa fa-file-text-o"></i>Visualizar detalhes do extrato
                    </a>            
            </div>

        </div>
    </div>

    <hr />

    <div class="panel-content">
        <h3 class="heading">
            <i class="fa fa-square"></i>
            Anexos
        </h3>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <th>Data</th>
                        <th>Nome</th>
                        <th>Comentários</th>
                        <th>Tamanho</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>13/08/2018</td>
                        <td>arquivo.doc</td>
                        <td>--</td>
                        <td>300 kb</td>
                        <td>
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Ação
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">
                                            <i class="lnr lnr-download"></i> Dowload
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="lnr lnr-printer"></i> Imprimir
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
