@{
    ViewBag.Title = "Cadastro Projeto";
}

<div class="dashboard-section">
    <div class="section-heading clearfix">
        <h2 class="section-title"><em></em></h2>
    </div>
    <div class="row">
        <div class="panel-content">
            <h3 class="heading"><i class="fa fa-square"></i> Cadastro de Projetos</h3>
            <div class="form-box">
                @Html.Partial("_FormProjeto")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            //EXIBE A MENSAGE DO TOASTR NA TELA
            $('.mensage').on('click', function () {
                $context = $(this).data('context');
                $message = $(this).data('message');
                $position = $(this).data('position');

                if ($context === '') {
                    $context = 'info';
                }

                if ($position === '') {
                    $positionClass = 'toast-bottom-right';
                } else {
                    $positionClass = 'toast-' + $position;
                }

                toastr.remove();
                toastr[$context]($message, '', {
                    positionClass: $positionClass
                });
            });
        });
    </script>
}