@{
    ViewBag.Title = "Conta Contabil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-content">
    <h3 class="heading">
        <em class="fa fa-square"></em>
        Conta Contabíl
    </h3>

    <div class="panel-content">
        <a href="@Url.Action("CadastroContaContabil","ContaContabil")" class="btn btn-primary pull-right">
            <i class="fa fa-plus-square"></i>  Nova Conta
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Unidade Contratante</th>
                <th>Cód Projeto</th>
                <th>Projeto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0001</td>
                <td>Unidade A</td>
                <td>AB-0001</td>
                <td>Projeto A</td>
            </tr>
        </tbody>
    </table>

</div>
