
<div class="dashboard-section">
    <div class="row">
        <div class="panel-content">
            <h3 class="heading"><i class="fa fa-square"></i> Selecione um anexo</h3>
            <div class="panel-content">
                <div class="form-box">
                    <form name="form" class="">
                        <div class="form-group col-md-4"><input class="form-control" name="anexo" type="file" placeholder="selecione um arquivo" value=""></div>
                        <div class="form-group col-md-5"><input class="form-control" name="dataFim" type="text" placeholder="preencha uma descrição" value=""></div>
                    </form>
                </div>
                <button class="btn btn-primary"><i class="fa fa-plus-square"></i>Adicionar</button>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="dashboard-section">
    <div class="row">
        <div class="panel-content">     
            <table class="table">
                <thead>
                    <tr>
                        <th>Arquivo</th>
                        <th>Tamanho</th>
                        <th>Descrição</th>                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>README.md</td>
                        <td>300 kb</td>
                        <td>Descrição de teste para o arquivo</td>   
                        <td>
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Ação
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">                              
                                    <li>
                                        <a href="#">
                                            <i class="lnr lnr-eye"></i> Visualizar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="lnr lnr-trash"></i> Excluir
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

