<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Erro.</h1>
        <h2>Um erro ocorreu ao processar a solicitação.</h2>
    </hgroup>
</body>
</html>
