

<div class="panel-content">
    <h3 class="heading">
        <i class="fa fa-square"></i>
        Lançamentos
    </h3>
    <div class="panel-content">
        <div class="row">
            <div class="col-md-3 col-xs-offset-6">
                <div class="form-group"><label>Saldo Inicial</label><input class="form-control col-md-2 disabled" name="saldoInicial" type="text" value="2000,00"></div>
            </div>
            <div class="col-md-3">
                <div class="form-group"><label>Saldo Final</label><input class="form-control col-md-2 disabled" name="saldoFinal" type="text" value="1000,00"></div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Num. Doc.</th>
                <th>Hist. Padrão</th>
                <th>Débito</th>
                <th>Crédito</th>
                <th>Saldo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>13/04/2018</td>
                <td>100,00</td>
                <td>pag. nota fiscal</td>
                <td></td>
                <td>1000,00</td>
                <td>1000,00</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <div class="col-md-offset-4">
        <ul class="pagination borderless">
            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
        </ul>
    </div>

</div>
