<div class="row">
    <div class="panel-content">
        <h3 class="heading"><i class="fa fa-square"></i> Motivo Reprova</h3>
        <div class="form-box">
            <form name="form" class="">
                <div class="panel-content">
                    <div class="form-group">
                        <label>Motivo</label>
                        <textarea class="form-control" name="Projeto">
                            </textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel-content">
                            <div class="form-group">
                                <button type="button" data-message="Adiantamento reprovado" data-dismiss="modal" data-position="bottom-full-width" data-context="info" class="btn btn-success mensage">
                                    <i class="fa fa-check-circle"></i>
                                    <span>Confirmar</span>
                                </button>
                                <button type="button" data-dismiss="modal" class="btn btn-primary">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
